h2 {
  color: gray;
  border-bottom: 1px solid black;
}

body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.algorithms {
  float: right;
  margin: 0.5em 1em;
  color: red;
}

.algorithms button {
  background-color: lightgrey;
}

.container {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
}

.box {
  border: 2px dashed green;
  border-radius: 5px;
  padding: 30px;
  background-color: lightgreen;
  margin: 5px;
  font-size: 1.2em;
  color: blue;
  cursor: pointer;
}
.hidden { display: none; }
.md5sum { font-family: "Courier"; width: 20em; }
input[select-all] { cursor: auto; }
